/* Page reset */

html,
body {
    margin: 0;
    padding: 0;
}

/* Page Header */

.header .logo {
    text-align: center;
}

.header .logo img {
    height: auto;
    max-width: 100%;
}

/* Navigation Bar */
.nav {
    background: #2B2B2B;
    background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    box-shadow: 2px 2px 3px #888;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 1px #0E0E0E;
    -webkit-box-shadow: 2px 2px 3px #888;
    -moz-box-shadow: 2px 2px 3px #888;
}

.nav li {
    float: left;
}

.nav a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.nav ul {
    list-style: none;
    position: relative;
    text-align: left;
}

.nav ul:before,
.nav ul:after {
    content: " ";
    display: table;
}

.nav ul:after {
    clear: both;
}

.nav ul.primary li a {
    border-right: 1px solid #3D3D3D;
    display: block;
    padding: 20px 30px;
}

.nav ul.primary li:last-child a {
    border-right: none;
}

.nav ul.primary li a:hover {
    color: #000;
}

.nav ul.primary li:hover a {
    background: #fff;
    color: #666;
    text-shadow: none;
}

.nav ul.primary li:hover > a {
    color: #000;
}

.nav ul.primary li:hover ul {
    background: #fff;
    display: block;
}

.nav ul.sub {
    box-shadow: 2px 2px 0 #BEBEBE;
    display: none;
    position: absolute;
    width: 35%;
    z-index: 200;
}

.nav ul.sub li {
    float: none;
    margin: 0;
}

.nav ul.sub li a {
    border-bottom: 1px dotted #ccc;
    border-right: none;
    color: #000;
    padding: 15px 30px;
}

.nav ul.sub li:last-child a {
    border-bottom: none;
}

.nav ul.sub li a:hover {
    background: #eeeeee;
    color: #000;
}

@media only screen and (max-width: 600px) {

    .wrap {
        margin-top: 0;
        width: 100%;
    }

    .nav li {
        float: none;
    }

    .nav ul.primary li:hover a {
        background: none;
        color: #8B8B8B;
        text-shadow: 1px 1px #000;
    }

    .nav ul.primary li:hover ul {
        background: #272727;
        color: #fff;
        display: block;
    }

    .nav ul.sub {
        box-shadow: none;
        display: block;
        position: static;
        width: 100%;
    }

    .nav ul.sub li a {
        background: #272727;
        border: none;
        color: #8B8B8B;
    }

    .nav ul.sub li a:hover {
        background: none;
        color: #ccc;
    }
}
